#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  position: relative;
}

.search-box input {
  width: 50vw;
  height: 36px;
  font-size: 20px;
  padding: 4px 12px;
  border-radius: 12px;
  border: 2px solid #a5a5a5;
  /** clear effects: clear blue border when focus */
  outline: 0;
}


.search-box ul {
  list-style: none;
  margin: 12px;
  padding: 4px;
  font-size: 16px;
  line-height: 1.5;
  height: 40vh;
  overflow: scroll
}

.search-box ul li {
  display: flex;
  justify-content: space-between;
}


.highlight {
  background: #ffc600;
}